html{
    scroll-behavior: smooth;
}


body {
    font-family: TTNorms, Arial, sans-serif;
    margin: 0%;
    padding-top: 50px;

}
.nav-link.active{
    color: #0d6efd !important;
    font-weight: bold;
}
#market-data{
    background-color: #204070;
    text-decoration: none;
    color: white;
    margin: 0%;
    padding: auto;
}
#charts{
    background-image: url(../assests/images/background1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
#navbar ul{
       padding: 0;
    list-style: none;
}
#navbar li{
    display: inline;
}
#navbar a{
    color: #235585;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}
.card-title,
.card-subtitle{
    text-align: center;
}
.card{
    height: 100%;
}

.price{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #0d6efd;
}

.features-heading{
    text-align: center;
    font-weight: bold;
}

.card ul{
    list-style: none;
    padding-left: 0;
}

.card-body .btn{
    display: block;
    width: fit-content;
    margin: 20px auto 0;
}
.price-card-section .card{
    transition: all 0.3s ease;
}

.price-card-section .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.438);
    border: 2px solid #ffffff;
    color: white;
    background-image: url(../assests/images/hover_background.png);
    transform: scale(1.10);
    
}
.price-card-section .card-title .card:hover {
    color: white;
}
.price-card-section  .card:hover .card-subtitle{
    color: #ffffff;
}

.ratio-charts-section h2{
    color: white;

}
.price-card-section .card:hover .price{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ffe942;

}
.card{
    transition: all 0.3s ease;
}

.card:hover{
    transform: translateY(-10px);
     border: 5px solid #ffffff;
     transform: scale(1.10);
  
      
}


.chart-class{
   height:60vh
}
.chart-container{
    width: 350px;
    height: 350px;
    margin: auto;
}

#feeChart,
#syllabusChart{
    width: 100% !important;
    height: 100% !important;
}
.ratio-charts-section{
    margin: auto;
    padding: 2%;
}
.tradingview-widget-container{
    width: 100%;
    height: 700px;
    border-radius: 12px;
    overflow: hidden;
}

.carousel-caption{
    background: rgba(51, 61, 69, 0.45);
    border-radius: 12px;
    padding: 12px;
    margin: auto;
}
.carousel-item img{
    height: 600px;
    width: 100%;
    object-fit: cover;
}
#knowledge-page{
    background-image: url(../assests/images/knowledgecard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
}

@media (max-width:768px){

    .carousel-caption h5{
        font-size: 18px;
    }

    .carousel-caption p{
        font-size: 12px;
    }
}
.accordion-button:not(.collapsed){
    background-color: white;
    color: black;
    box-shadow: none;
}

.accordion-button:focus{
    box-shadow: none;
    border-color: transparent;
}
footer {
    background-color: #6b6b6b;
    color: #333;
    text-align: center;
    margin: 0;
    font-size: 14px;
    padding: 1%;
}


.video-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1%;
   background-image: url(../assests/images/videosection.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
   
       
}
.video-section iframe{
    border:  #166ed2 30px ;
    border-style: solid;
    max-width: inherit;
}
#knowledge-page h3{
    padding-top: 15px;
    margin-bottom: 50px;
    font-size: 2.5rem;
}
#topBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0d6efd;
    color: white;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 50%;
    font-size: 20px;
}

#topBtn:hover{
    background-color: #084298;
}
